<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>评论信息</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <style>
        .main {
            width: 80%;
            margin: 20px auto;
        }
        
        .main table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ccc;
            margin-top: 20px;
        }
        
        .main th,
        .main td {
            text-align: center;
            border: 1px solid #ccc;
            color: orange;
        }
        
        .main .top input {
            width: 180px;
            height: 30px;
            border: 1px solid #ccc;
        }
        
        .main .top button,
        .main .top input:last-child {
            width: 50px;
            height: 30px;
            border-radius: 5px;
            background-color: orange;
            border: 1px solid orange;
            color: white;
            cursor: pointer;
        }
        
        .main .top a:last-child:hover {
            text-decoration: none;
        }
        
        td a {
            color: orange;
        }
        
        td a:hover {
            color: orangered;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="top">
            <form action="/posts/comment-list" method="POST">
                <input type="text" name="content">
                <button>搜索</button>
                <!-- <input type="button" name="" id="" value="新增"> -->
                <input type="button" value="新增" onclick="location.href='/posts/comment-add'">
            </form>
        </div>
        <table class="table">
            <tr>
                <th>编号</th>
                <th>内容</th>
                <th>博文编号</th>
                <th>用户编号</th>
                <th>操作</th>
            </tr>
            <!-- ejs中可以运行js代码 -->
            <% for(var i=0;i<list.length;i++){ %>
                <tr>
                    <td>
                        <%=list[i].id%>
                    </td>
                    <td>
                        <%=list[i].content%>
                    </td>
                    <td>
                        <%=list[i].pid%>
                    </td>
                    <td>
                        <%=list[i].userid%>
                    </td>
                    <td>
                        <a href="/posts/comment-update?id=<%=list[i].id%>">修改</a>
                        <a href="/posts/comment-del?id=<%=list[i].id%>" onclick="return confirm('确认删除')">删除</a>
                    </td>
                </tr>
                <% }  %>
        </table>
    </div>
</body>

</html>