<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户修改页面</title>
    <style>
        input {
            border: 1px solid #ccc;
            width: 180px;
            height: 30px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h2 style="color:pink;">用户修改页面</h2>
    <form action="/posts/user-update" method="POST">
        <input type="hidden" name="oldId" value="<%=id%>">
        <div>编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 号：<input type="text" name="id" value="<%=id%>"></div>
        <div>用&nbsp;&nbsp;户&nbsp;&nbsp;名：<input type="text" name="username" value="<%= username %>"></div>
        <div>角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 色：<input type="text" name="role" value="<%= role %>"></div>
        <div>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 态：<input type="text" name="status" value="<%= status %>"></div>
        <div>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别：<input type="text" name="gender" value="<%= gender %>"></div>
        <div>个人介绍：<input type="text" name="intro" value="<%= intro %>"></div>
        <div>图片地址：<input type="text" name="face_url" value="<%= face_url %>"></div>
        <div style="margin: 20px 0px 0px 90px;">
            <button style="background-color: deeppink;color: white;border: 1px solid deeppink;padding: 5px 10px;border-radius: 5px;">提交</button>
        </div>
    </form>
</body>

</html>